@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    font-family: "Ubuntu", sans-serif;

}

body {
    max-width: 1500px;
    margin: 0 auto;


}

.container {
    margin: 4rem 11rem;
}

.navbar_Align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar_options_align {
    display: flex;
    gap: 40px;
}

.responsive_options_align {
    display: none;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: gray;
}

.reusable_button {
    border-radius: 8px;
    background-color: rgb(182, 140, 90);
    padding: 1rem 2rem;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: 3px solid rgb(182, 140, 90);
}

.reusable_button:hover {
    background-color: transparent;
    color: rgb(182, 140, 90);
    border: 3px dotted;
    transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0.75rem;
    }

    .Navbar_options_align {
        display: none;
    }

    .responsive_options_div {

        text-align: center;
    }

    .responsive_options_align {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 25px;

        margin-top: 50px;
    }

    .reusable_button {
        font-size: 15px;
        padding: 1rem;
    }

}

/* Navbar Completed */

.banner_section {
    padding: 13% 20%;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(17, 17, 17, 0) 100%), url(images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_title {
    color: rgb(255, 255, 255);



    font-size: 55px;

    font-weight: 800;
}

.banner_description {
    color: rgb(231, 231, 231);

    margin: 0 3rem;
    margin-top: 24px;
    margin-bottom: 32px;

    font-size: 16px;

    font-weight: 400;
}

.input_align {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.search_box {
    width: 60%;
    height: 52px;
    border-radius: 8px;
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    .banner_section {
        margin: 0;
        padding: 0;
        padding: 30px;

    }

    .banner_title {
        font-size: 25px;
    }

    .banner_description {
        font-size: 15px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 12px;

    }

    .input_align {
        flex-wrap: wrap;
    }

    .search_box {
        width: 70%;
        height: 50px;
    }
}

/* banner completed */

.practice_areas {
    display: flex;
    justify-content: space-between;
}

.Practice_areas_sction_title {
    font-size: 40px;

    font-weight: 800;
}

.Practice_areas_sction_description {
    font-size: 16px;
    color: gray;
    font-weight: 400;
    margin: 0 15rem;
    margin-top: 24px;
    margin-bottom: 50px;
}

.practice_areas_div {
    padding: 30px;
}

.practice_areas_div:hover {
    background-color: linear-gradient(180.00deg, rgb(243, 243, 243), rgba(243, 243, 243, 0) 100%);
    box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#p_a_div_one {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
    border-right: 1px solid rgb(0 0 0 / 0.1);
}

#p_a_div_two {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
    border-right: 1px solid rgb(0 0 0 / 0.1);
}

#p_a_div_three {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);

}

.practice_areas_title {
    font-size: 32px;
    margin-top: 30px;
    font-weight: 800;
}

.practice_areas_description {
    font-size: 16px;
    color: gray;
    font-weight: 400;
    margin: 30px 0;
}

@media only screen and (max-width:768px) {
    .Practice_areas_sction_description {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .practice_areas {
        flex-direction: column;
    }

    .practice_areas_div {
        border: 1px solid rgb(0 0 0 / 0.1);
    }
}

/* Legal Practice Area Completed */
